.disabled {
  background: lightgreen;
}

.betting-slip {
  position: absolute;
  bottom: 0;
}

/*
.slider {
	overflow-y: hidden;
	max-height: 500px; 

	transition-property: all;
	transition-duration: 4.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
	max-height: 0;
}*/
