.disabled {
  background: lightgreen;
}

.betting-slip {
  background-color: #7cb342;
  position: fixed;
  bottom: 0;
  right: 70px;
  padding: 8px;

}

.betting-slip a, .betting-slip p {
  color: black;
}

.betting-slip input{ 
  width: 45px;
}

.hidden{
  display:none;
}

.expanded{
  display:block;
}

