.disabled {
  background: lightgreen;
}

.betting-slip {
  background-color: #7cb342;
  position: fixed;
  bottom: 0;
  right: 70px;
  padding: 8px;
}

.betting-slip a {
  color: white;
}

.hidden{
  display:none;
}

.expanded{
  display:block;
}

